@import './main'

.output
  width: 80%
  height: calc(100vh - 10% - 75px)
  display: flex
  flex-direction: column
  align-items: center
  overflow-y: auto
  color: white
  margin: 20px
  

  .response-status
    width: 60%
    height: 10%
    display: flex
    flex-direction: column
    justify-content: center
    padding: 20px
    border-radius: 15px
    margin: 0px

.table
  width: 100%
  background: #121212
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 10px
  border-radius: 15px

.grid-item
  padding: 10px
  display: flex
  justify-content: center
  align-items: center
  .h1


.titles
  display: grid
  grid-template-columns: repeat(3, 0.5fr)
  grid-column: 1 / span 3
  background-color: #0093E9
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%)
  .title
    display: flex
    justify-content: center
    align-items: center
    color: $background-color